<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>
          
         
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Propiedades" asp-action="Index">
                <i class="bi bi-house"></i>
                <span>Propiedades</span>
            </a>
            </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Usuarios" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Usuarios</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->
